<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium Web Client</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    

</head>
<body>
    
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Premium Web Client", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                  @if (@ViewContext.RouteData.Values["action"].ToString() != "Login" && @ViewContext.RouteData.Values["action"].ToString() != "Registro")
                  {
                        <ul class="nav navbar-nav">
                        <li> <a  href="#top">Inicio</a></li>
                        <li><a   href="#about">Comenzar</a></li>
                        <li><a  href="#services">Ingresar</a></li>
                        <li><a  href="#portfolio">Precios</a></li>
                        <li><a  href="#contact">Contacto</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                  }
                </div>
            </div>
        </div>
    
        @RenderBody()
      

        
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
